.blY1EwBcXBUE-i {
  display:none;
}
#header,
.board-header *,
.I-iCwwqNKUHRs7,
.icon-template-card {
  display:none;
}
.inline-rename-board,
.inline-rename-board * {
  display:block;
  margin-left:-8px;
}
.board-header {
  background:rgba(0,0,0,.4);
  padding:20px 30px;
  margin-bottom:20px;
  backdrop-filter: blur(10px);
}
#board {
  /* display:flex; */
  /* flex-wrap: wrap; */
}
.js-list {
  margin:0 10px;
  font-size:14px;
}
.js-open-card-composer {
  text-align:center;
  text-indent:-8px;
}
.js-open-card-composer * {
  color:rgba(0,0,0,.1);
}